# Python Data Types

Hoy vamos a ver los tipos de datos en python.
Hay algo que quiero que sepas antes de comenzar, algo que debe quedar muy claro.

> Todo es un objeto en python

En python, cada tipo de dato es tratado como un objeto, eso significa que todos los tipos
de datos tienen métodos y propiedades propios de ese tipo de dato.
Recuerda que un objeto en programación es una unidad que combina datos y comportamientos 
relacionados en una sola entidad.

Se entiende mejor viendo sus dos componentes principales:

- Datos (atributos o propiedades):
    Son las características que describen al objeto.

    Ejemplo: en un objeto "Coche", los datos podrían ser `color`, `marca` , `velocidad`.

- Comportamientos (métodos o funciones):
    Son las acciones que el objeto puede realizar.

    Ejemplo: un "Coche" puede `acelerar()`, `frenar()`, `girar()`.

Ahora que hemos colocado esta idea sobre la mesa, comencemos con los tipos de datos. 

```
Tipos de datos en Python
│
├── Numéricos
│   ├── int       [enteros: 1, -5, 1000]
│   ├── float     [decimales: 3.14, -2.7]
│   └── complex   [complejos: 2+3j]
│
├── Texto
│   └── str       [cadenas: "hola", 'Python']
│
├── Booleanos
│   └── bool      [True, False]
│
├── Secuencias
│   ├── list      [listas: [1, 2, 3]]
│   ├── tuple     [tuplas: (1, 2, 3)]
│   └── range     [rangos: range(5)]
│
├── Conjuntos
│   ├── set       [conjuntos: {1, 2, 3}]
│   └── frozenset [conjuntos inmutables]
│
├── Mapas
│   └── dict      [diccionarios: {"a": 1, "b": 2}]
│
└── Tipo especial
    └── NoneType  [None]
```

## Int

In [137]:
num = 10
num_2 = 3

# suma
print(num + num_2)
# resta
print(num - num_2)
# multiplicacion
print(num * num_2)
#division
print(num / num_2)
# potencia
print(num ** num_2)
# modulo
print(num % num_2)

13
7
30
3.3333333333333335
1000
1

In [138]:
# Saber si es par o impar
print(7 % 2 == 0)

False

## Float

In [139]:
print(type( 1.5 ))
print(type( 1. ))
print(type( .5 ))

print(1. + .5)

print(1 + .5)

<class 'float'>
<class 'float'>
<class 'float'>
1.5
1.5

## Complex

In [140]:
print(type(1j))
(1 + 2j) ** 2

# 1^2 + 2(2j)(1) +(2j)^2
# 1 + 4j +4(-1)
# -4 + 1 + 4j

<class 'complex'>

(-3+4j)

## Str

In [141]:
saludo = "Hola"
nombre = "Victor"
# suma strings
print(saludo + ", " + nombre)
# len function
print(len(saludo))
# f-strings
print(f"{saludo}, {nombre}")
# formateo
print("victor carrillo".capitalize())
print("Victor".upper())
print("vICTor".lower())

Hola, Victor
4
Hola, Victor
Victor carrillo
VICTOR
victor

In [142]:
for letra in "abcd":
    print(ord(letra)) #Saber código ascii de cada letra

97
98
99
100

In [143]:
saludo = "hola_mundo"
saludo_2 = saludo.replace("_", "-")
print(saludo, saludo_2)

print("   hola    ".strip())

nombre = input("¿Cuál es tu nombre?")
f"HOLA, {nombre.strip().upper()}"

hola_mundo hola-mundo
hola

'HOLA, K'

# Dict

In [144]:
"""
dict = {
    [clave]("" o ''): [valor] (cualquier tipo)
}
"""
numeros = {
    'uno': 1,
    "dos": 2
}

print(numeros.keys())
print(numeros.keys())
print(numeros.keys())

dict_keys(['uno', 'dos'])
dict_keys(['uno', 'dos'])
dict_keys(['uno', 'dos'])

In [145]:
numeros["uno"] = numeros["uno"] + 1
numeros["dos"] += 1
numeros["tres"] = numeros.get("tres", 3) + 1

numeros

{'uno': 2, 'dos': 3, 'tres': 4}

In [ ]:
# variable -> objeto -> memoria
# (c++) variable -> * & -> memoria
carro = {
    "ruedas": 4
}

carro2 = carro

carro2["ruedas"] = 6

print(carro, carro2)

{'ruedas': 6} {'ruedas': 6}

In [ ]:
num = True
num2 = num

num2 = False

print(num, num2)

True False

## Inmutables
- int
- float
- str
- boolean

## Mutables
- dict
- listas
- set
- tuplas
- ...

Revisa tipos aquí -> [built-in types](https://docs.python.org/3/library/stdtypes.html#)

## List

- Una lista es una colección ordenada y mutable de elementos
- Puede contener distintos tipos de datos: enteros, strings, floats, etc
- Se definen usando corchetes

In [1]:
# Lista de números
numeros = [1, 2, 3, 4, 5]

# Lista de strings
frutas = ["manzana", "banana", "pera"]

# Lista mixta
mixta = [1, "hola", 3.14, True]

Operaciones comunes

In [2]:
# Acceder a elementos
print(frutas[0])   # manzana
print(frutas[-1])  # pera

# Modificar elementos
frutas[1] = "naranja"

# Agregar elementos
frutas.append("uva")
frutas.insert(1, "kiwi")  # inserta en la posición 1

# Eliminar elementos
frutas.remove("pera")
del frutas[0]  # elimina el primer elemento
ultimo = frutas.pop()  # elimina y devuelve el último elemento

# Otras operaciones
print(len(frutas))  # tamaño
print("kiwi" in frutas)  # True
print(f"Lista ordenada: {sorted([3,1,2])}")

manzana
pera
2
True
Lista ordenada: [1, 2, 3]

Ejercicios
- Crear una lista con los números del 1 al 10 y mostrar el primer y último elemento.

- Agregar "Python" al final de la lista lenguajes = ["C", "Java"].

- Cambiar el segundo elemento de la lista colores = ["rojo", "verde", "azul"] a "amarillo".

- Eliminar el elemento "banana" de la lista frutas = ["manzana", "banana", "pera"].

- Contar cuántos elementos tiene la lista valores = [10, 20, 30, 40].

## Tuple

- Una tupla es una colección ordenada e inmutable.

- Se definen usando paréntesis ().

- No puedes modificar sus elementos después de crearla.

In [3]:
# Tupla de números
numeros = (1, 2, 3, 4, 5)

# Tupla de strings
colores = ("rojo", "verde", "azul")

# Tupla mixta
mixta = (1, "hola", 3.14, True)

Operaciones comunes

In [4]:
# Acceder a elementos
print(colores[0])   # rojo
print(colores[-1])  # azul

# Otras operaciones
print(len(numeros))      # longitud
print(2 in numeros)      # True
print(numeros.count(3))  # cuántas veces aparece el número 3
print(numeros.index(4))  # posición del número 4

rojo
azul
5
True
1
3

Ejercicios

- Crear una tupla con los días de la semana y mostrar el primero y el último.

- Verificar si el número 5 está en la tupla numeros = (1,2,3,4,5).

- Contar cuántas veces aparece "a" en la tupla letras = ('a','b','a','c','a').

- Obtener la posición del elemento "verde" en colores = ("rojo", "verde", "azul").

- Crear una tupla con un solo elemento: 10.

## Range

- range() genera una secuencia de números enteros.

- Es muy útil para bucles (for) o generar listas de números.

In [6]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

Ejemplos

In [7]:
# Números del 0 al 4
for i in range(5):
    print(i)

# Números del 1 al 10
numeros = list(range(1, 11))

# Números pares del 2 al 10
pares = list(range(2, 11, 2))

0
1
2
3
4

Ejercicios:
- Generar una lista con los números del 0 al 9.

- Crear un range de los números impares del 1 al 20.

- Crear una lista con los múltiplos de 5 hasta 50.

- Usar un bucle for con range para imprimir "Hola" 5 veces.

- Crear una lista de números del 10 al 1 usando range.

## Sets

- Un set es una colección desordenada y mutable de elementos únicos.

- Se definen usando llaves {} o la función set().

- No permiten elementos repetidos.

In [8]:
# Set de números
numeros = {1, 2, 3, 4, 5}

# Set de strings
frutas = {"manzana", "banana", "pera"}

# Set vacío
vacio = set()

Operaciones comunes

In [9]:
# Agregar elementos
frutas.add("naranja")

# Eliminar elementos
frutas.remove("pera")  # genera error si no existe
frutas.discard("uva")  # no genera error si no existe

# Operaciones de conjuntos
A = {1,2,3}
B = {3,4,5}
print(A | B)  # unión
print(A & B)  # intersección
print(A - B)  # diferencia
print(A ^ B)  # diferencia simétrica

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

Ejercicios:
- Crear un set con los números del 1 al 5.

- Agregar el número 6 al set anterior.

- Eliminar el número 3 del set.

- Crear dos sets y mostrar su intersección.

- Verificar si un elemento está en un set.